<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" media="all"
	href="css/bootstrap-glyphicons.css"></link>
<link rel="stylesheet" type="text/css" media="all" href="css/styles.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<title>Acerca De</title>

<style>
body, html {
	height: 100%;
	background-repeat: no-repeat;
	background-color: #d3d3d3;
	font-family: 'Oxygen', sans-serif;
}
</style>

</head>
<body>
<div class="header-menu"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8">
				<h2>Acerca de la Compañia</h2>
				<h4>J2F Shop</h4>
				<p>Desarrolladores:<br>
				   Juan Carlos Mora Cruz<br>
				   Fabricio Salazar Mayorga<br>
				   José Coto Víquez<br><br>
				   Universidad de Costa Rica<br>
				   Lenguajes para las Aplicaciones Comerciales<br>
				</p>
				<button class="btn btn-default btn-lg" href="/contact">Contactenos</button>
			</div>
			<div class="col-sm-4">
				<span class="glyphicon glyphicon-home"></span>
			</div>
		</div>
	</div>
</body>
</html>