<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" media="all"
	href="css/bootstrap-glyphicons.css"></link>
<link rel="stylesheet" type="text/css" media="all" href="css/styles.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<title>Acerca De</title>

<style>
body, html {
	height: 100%;
	background-repeat: no-repeat;
	background-color: #d3d3d3;
	font-family: 'Oxygen', sans-serif;
}
</style>

</head>
<body>
<div id="about" class="container-fluid" style="margin-left: 10%; margin-right: 10%; margin-top: 5%;">
    <div class="row">
        <div class="col-sm-6">
            <h2>Acerca de J2F Shop</h2><br>
            <h3>Sitio de compras en línea</h3>
            <br>
            <h4>Universidad de Costa Rica.
            <br>Sede del Atlántico.
            <br>Recinto de Paraíso.</h4>
            <br>
            <h4>Lenguajes para Aplicaciones Comerciales.</h4>
            <br>
            <h4>Desarrolladores:</h4>
            <br><p>B32144 - Coto Víquez José
            <br>B44540 - Mora Cruz Juan Carlos
            <br>B56535 - Salazar Mayorga Fabricio</p>
            <br>
            <a href="/contact" class="btn btn-default">Contactenos</a>
        </div>
        <div class="col-sm-6" style="margin-top:2%;">
           <img th:src="@{/images/logo.PNG}"
              alt="Logo" width="90%" height="100%">
        </div>
    </div>
</div>
</body>
</html>