
<!DOCTYPE html>
<html>
<head>
<title>Carrito de Compras</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="header-menu"></div>
	<div class="container">
	<div th:if="${error}" onload="error()"> </div>
		<div th:if="${carrito}">
			<div th:if="${carrito.isEmpty()}">
				<br>
				<div class="alert alert-danger">
					<strong>Atencion:</strong>
					<h4>No se encontraron resultados</h4>
				</div>
			</div>
			<div th:if="${!carrito.isEmpty()}">
				<br>
				<div class="alert alert-success"></div>
				<div class="row" th:each="entry,status : ${carrito}"
					style="padding-top: 10px;">

					<div class="panel panel-primary">
						<div class="panel-heading" th:text="${entry.producto.nombre}"></div>
						<div class="panel-body"></div>
						<div class="row">
							<div class="col-sm-10"><img th:src="${entry.producto.imagen}"></div>
							<div class="col-sm-2">
									<textarea style="resize: none; border: none;" rows="4" cols="20"
									readonly th:text="${entry.producto.descripcion}">
                           </textarea>
                           <div style="padding-bottom: 10px;">
									<span>Precio: $</span><span th:text="${entry.producto.precio}"></span>
								</div>
                           								<div style="padding-bottom: 10px;">
									<span>Cantidad: </span><span th:text="${entry.cantidad}"></span>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
			<div class="btn-group">
			<form class="form-horizontal" th:action="@{/carrito/pago}" action="#" method="post">				
			<input  th:value="${sesion}" name="sesionA">
			<button  type="submit" class="btn-xs btn-primary">Pagar</button>
			</form>
			</div>
		</div>
	</div>
	<br><br><br>
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
	<script type="text/javascript"> 
	function error(){
		alert("Debe iniciar sesion para realizar el pago");
	} 
	</script>
</body>
</html>