<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mantenimiento de usuarios</title>
  <!-- Foundation -->
  <link rel="stylesheet" th:href="@{/css/app.css}">
  <link rel="stylesheet" th:href="@{/css/foundation.css}">
</head>
<body>
  <!-- Contenedor principal-->
  <div class="row" style="margin-top:10;">
    <div class="small-12 columns callout primary">

      <!-- Título -->
      <div class="row">
        <div class="small-2 columns"><p></p></div>
        <div class="small-8 columns text-center">
          <h4><strong th:text="#{disableTitle}"></strong></h4>
        </div>
        <div class="small-2 columns"><p></p></div>
      </div>

      <!-- Datos -->
      <div class="row">
        <div class="small-2 columns"><p></p></div>
        <div class="small-8 columns">
          <span th:text="#{idUsuarioMantenerUsuarios}">: <strong th:text="${idUsuario}"></strong></span>
        </div>
        <div class="small-2 columns"><p></p></div>
      </div>

      <div class="row">
        <div class="small-2 columns"><p></p></div>
        <div class="small-8 columns">
          <span th:text="#{loginMantenerUsuarios}"><strong th:text="${login}"></strong></span>
        </div>
        <div class="small-2 columns"><p></p></div>
      </div>

      <div class="row text-center">
        <div class="small-2 columns"><p></p></div>
        <div class="small-8 columns">
          <div class="button-group">
            <a th:href="@{/}" th:text="#{botonCancelarProducto}" class="button success"></a>
            <a th:href="@{/disable}" th:text="#{botonAceptarProducto}" class="button alert"></a>
          </div>
        </div>
        <div class="small-2 columns"><p></p></div>
      </div>

    </div>
  </div>

  <!-- Scripts para foundation -->
  <script th:src="@{/js/vendor/jquery.js}"></script>
  <script th:src="@{/js/vendor/what-input.js}"></script>
  <script th:src="@{/js/vendor/foundation.js}"></script>
  <script th:src="@{/js/app.js}"></script>
</body>
