<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="http://fonts.googleapis.com/css?family=Open+Sans">

<title>Confirmación de Datos</title>

</head>
<body>
	<div class="jumbotron">
		<div class="container">
			<h3
				th:text="${'Hola '+ user.nombre+ ' Procedamos a verificar la informacion'}"></h3>
			<form class="form-horizontal" th:action="@{/confirm}"
				action="#" method="get">
				<div class="row">
					<div class="col-sm-4">
						<label th:text="${'Numero de Tarjeta: '+ user.numeroTarjeta}"></label>
						<br> <label>Seleccione la direccion de envio</label> <select
							class="form-control">
							<option th:text="${user.direccion1}"
								th:value="${user.direccion1}">
							<option th:text="${user.direccion2}"
								th:value="${user.direccion2}">
						</select>

					</div>
					<div class="col-sm-4"></div>
					<div class="col-sm-4">
						<button type="submit" class="btn btn-default">Realizar
							Pago</button>
					</div>
				</div>
			</form>
		</div>
		<br> <br> <br>
	</div>
</body>
</html>