<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Foundation -->
<link rel="stylesheet" th:href="@{/css/app.css}">
<link rel="stylesheet" th:href="@{/css/foundation.css}">
<link rel="stylesheet" th:href="@{/foundation-icons/foundation-icons.css}">

<title>Register</title>
</head>
<body style="background: #92b6c8;">
	<!-- Blank space -->
	<div class="row">
		<div class="small-12 columns"><p></p></div>
	</div>

	<div class="row">
		<!-- Blank spacing -->
		<div class="small-2 columns"><p></p></div>
		<!-- Form row -->
		<div class="small-8 columns callout primary">

			<form method="POST" th:action="@{/registration}" th:object="${userForm}">
				<!-- Title -->
				<div class="row">
					<div class="small-12 columns text-center">
						<h2><i class="fi-key" style="padding-right: 10px; text-size: 24;"></i>
							<span>Create your account</span></h2>
					</div>
				</div>
				<!-- Login field -->
				<div class="row">
					<div class="small-12 columns">
						<input type="email" th:field="*{login}" placeholder="Username"
						autofocus="true"/>
					</div>
				</div>
				<div class="row" th:if="${errorLogin != null}">
					<div class="small-12 columns callout alert">
						<span th:text="${errorLogin}"></span>
					</div>
				</div>
				<!-- Password field -->
				<div class="row">
					<div class="small-12 columns">
						<input type="password" th:field="*{password}" placeholder="Password"/>
						<input th:field="*{enabled}" type="hidden" th:value="true"/>
					</div>
				</div>
				<div class="row" th:if="${errorPass != null}">
					<div class="small-12 columns callout alert">
						<span th:text="${errorPass}"></span>
					</div>
				</div>
				<!-- Name field -->
				<div class="row">
					<div class="small-12 columns">
						<input type="text" th:field="*{nombre}" placeholder="Name">
					</div>
				</div>
				<div class="row" th:if="${errorName != null}">
					<div class="small-12 columns callout alert">
						<span th:text="${errorName}"></span>
					</div>
				</div>
				<!-- Last Name field -->
				<div class="row">
					<div class="small-12 columns">
						<input type="text" th:field="*{apellidos}" placeholder="Last Name">
					</div>
				</div>
				<div class="row" th:if="${errorLastName != null}">
					<div class="small-12 columns callout alert">
						<span th:text="${errorLastName}"></span>
					</div>
				</div>
				<!-- Address 1 -->
				<div class="row">
					<div class="small-12 columns">
						<textarea th:field="*{direccion1}" rows="4" cols="50" placeholder="Dirección 1"></textarea>
					</div>
				</div>
				<div class="row" th:if="${errorAddress1 != null}">
					<div class="small-12 columns callout alert">
						<span th:text="${errorAddress1}"></span>
					</div>
				</div>
				<!-- Address 2 -->
				<div class="row">
					<div class="small-12 columns">
						<textarea th:field="*{direccion2}" rows="4" cols="50" placeholder="Dirección 2"></textarea>
					</div>
				</div>
				<div class="row" th:if="${errorAddress2 != null}">
					<div class="small-12 columns callout danger">
						<span th:text="${errorAddress2}"></span>
					</div>
				</div>
				<!-- Country, City, State, Postal code -->
				<div class="row">
					<div class="small-12 columns">
						<div class="input-group">
								<input class="input-group-field" type="text" th:field="*{pais}" placeholder="País">
								<input class="input-group-field" type="text" th:field="*{ciudad}" placeholder="Ciudad">
								<input class="input-group-field" type="text" th:field="*{estado}" placeholder="Estado">
								<input class="input-group-field" type="text" th:field="*{codigoPostal}" placeholder="Código Postal">
						</div>
					</div>
				</div>
				<!-- Phone -->
				<div class="row">
					<div class="small-12 columns">
						<input type="text" th:field="*{telefono}" placeholder="Teléfono">
					</div>
				</div>
				<div class="row" th:if="${errorPhone != null}">
					<div class="small-12 columns callout danger">
						<span th:text="${errorPhone}"></span>
					</div>
				</div>
				<!-- Card number, CCV -->
				<div class="row">
					<div class="small-12 columns">
						<div class="input-group">
							<input class="input-field" type="text" th:field="*{numeroTarjeta}" placeholder="Número de Tarjeta">
							<input type="text" class="input-field" th:field="*{ccv}" placeholder="CCV">
						</div>
					</div>
				</div>
				<div class="row" th:if="${errorCCV != null}">
					<div class="small-12 columns callout danger">
						<span th:text="${errorCCV}"></span>
					</div>
				</div>
				<div class="row" th:if="${errorCard != null}">
					<div class="small-12 columns callout alert">
						<span th:text="${errorCard}"></span>
					</div>
				</div>
				<!-- Account balance TODO -->

				<input type="submit" class="button secondary" value="Register"/>
			</form>


		</div>
		<!-- Blank spacing -->
		<div class="small-2 columns"><p></p></div>
	</div>
</body>
</html>
